*{
    font-family: Arial, Helvetica, sans-serif;
    box-sizing: border-box;
}

body{
    background: #CCC;
}

#site{
    width: 800px;
    background: #FFF;
    padding:30px;
    margin: 20px auto;
    min-height: 500px;
}

ul li{
    list-style: url(check.png);
}

ol li{
    list-style-type: upper-roman;
}

nav ul li{
    list-style: none;
    display: inline-block;
}
nav ul li a{
    display: inline-block;
    width:150px;
    background-color: #999;
    color:#FFF;
    padding:3px;
    text-align: center;
    text-decoration: none;
}